.trial {
  background-color: $color-primary;
  color: $color-white;
}

.trial__title {
  @media (min-width: $tablet) {
    text-align: center;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}
